<google-map width="100%">
  <map-marker
    #marker="mapMarker"
    *ngFor="let farm of farms"
    [position]="farm.coordinates"
    [title]="farm.name"
    [options]="markerOptions"
    (mapClick)="handleMarkerClick(farm, marker)"
  ></map-marker>
  <map-info-window
    ><ul>
      <li class="info-window--item">
        <strong>Farm name</strong>: {{ selectedFarm?.name }}
      </li>
      <li class="info-window--item">
        <strong>Farm acres</strong>: {{ selectedFarm?.acres }}
      </li>
      <li class="info-window--item">
        <strong>Accumulated precipitations</strong>:
        {{ selectedFarm?.accumulatedPrecipitations }}
      </li>
      <strong>
        <a
          [routerLink]="['/farms/', selectedFarm?.id]"
          class="info-window--item"
          >View more</a
        >
      </strong>
    </ul></map-info-window
  >
</google-map>
