<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1>home works!</h1>
  <a
    mat-fab
    color="primary"
    aria-label="Create new farm"
    routerLink="/farms/new"
  >
    <mat-icon>add</mat-icon>
  </a>
</div>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Map">
    <app-farms-map [farms]="farms$ | async"></app-farms-map>
  </mat-tab>
  <mat-tab label="Table">
    <app-farms-table
      [farms]="farms$ | async"
      (delete)="handleDeleteFarm($event)"
    ></app-farms-table>
  </mat-tab>
</mat-tab-group>
